bin/
obj/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
*.DotSettings.user

*.zip
*.tar.gz
*.7z

*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

Thumbs.db
.DS_Store
desktop.ini
ehthumbs.db

Nexora/

node_modules/

*.log