bin/
obj/

bin/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
*.DotSettings.user

*.zip
*.tar.gz
*.7z

*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

Thumbs.db
.DS_Store
desktop.ini
ehthumbs.db

Nexora/

node_modules/
build/
Builds/
Clean-build.bat
Compile-Nexora.bat

.dockerignore
.gitignore

*.log

